h1.title {
    color: white;
    font-family: "Niramit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    padding-top: 1%;
    margin-bottom: -0.5%;
    
}

h2.title_sub {
    color: white;
    font-family: "Niramit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: 0px;
}

body{
    background: rgb(7, 7, 7);
    text-align: center;
}

.button_container{
    display: grid;
    max-width: 2012px;
    height: fit-content;
    overflow: auto;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-template-rows: repeat(auto-fill, 200px);
    justify-content: space-between;
    align-items: top;
    grid-gap:4px;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    width: 500px;
    height: 200px;
    font-size: 1rem;
    border: none;
    outline-color: #00A8EF;
    cursor: pointer;
    margin-bottom: 0px;
  }